:root {
    --main-bg-color: #f7f7f7;
    --accent-bg-color: #ffd4d0;
    --red-color: #fc3314;
    --black-color: #1f1f1f;
}

.red {
    color: var(--red-color);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    outline: none;
}

html {
    color: #000;
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

header {
    background-color: var(--accent-bg-color);
    position: relative;
    z-index: 0;

    .circle {
        background-color: var(--red-color);
        border-radius: 50%;
        height: 140px;
        position: absolute;
        top: -80px;
        left: 33%;
        width: 140px;
        z-index: 1;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        position: relative;
        z-index: 2;

        .logo {
            display: flex;
            color: #000;
            font-family: 'Comfortaa', sans-serif;
            font-size: 1.75rem;
            font-weight: 700;
        }

        .links {
            display: flex;
            font-size: 1.125rem;
            font-weight: 700;
            gap: 16px;

            a {
                color: #000;
                padding: 4px 12px;
            }

            a:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        .button {
            background-color: var(--black-color);
            border-radius: 0;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            padding: 12px 24px;
        }
    }

    .content {
        display: flex;
        gap: 48px;
        justify-content: space-between;

        .section {
            margin: 64px 0;
            width: 66%;

            .heading {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h2 {
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                h1 {
                    font-size: 3rem;
                }
            }

            .ctas {
                margin-top: 48px;

                .button {
                    background-color: var(--black-color);
                    border: 1px solid #000;
                    border-radius: 0;
                    color: #fff;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 700;
                    padding: 12px 0;
                    width: 170px;
                }
                .button.secondary {
                    background-color: #fff;
                    color: var(--black-color);
                    display: inline-block;
                    margin-left: 20px;
                    text-align: center;
                }
            }
        }

        .image {
            max-width: 40%;
            max-height: 400px;

            img {
                object-fit: contain;
                object-position: bottom;
            }
        }
    }
}

.about {
    background-color: var(--black-color);
    color: #fff;
    padding: 64px 0 80px;
    position: relative;
    text-align: center;
    z-index: 0;

    h2 {
        font-size: 2.25rem;
    }

    p {
        margin: 24px 160px 0;
    }

    .numbers {
        display: flex;
        justify-content: space-evenly;
        margin-top: 32px;
        z-index: 3;

        .number {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100px;

            h3 {
                color: var(--accent-bg-color);
                font-size: 4rem;
            }

            h4 {
                font-size: 1.125rem;
            }
        }
    }

    .circle {
        background-color: var(--red-color);
        border-radius: 50%;
        height: 240px;
        position: absolute;
        bottom: -170px;
        left: calc(50% - 120px);
        width: 240px;
        z-index: 1;
    }
}

.x-services {
    background-color: #fff;
    color: #000;
    padding: 64px 0;
    position: relative;
    text-align: center;

    h2 {
        font-size: 2.25rem;
    }

    p {
        margin: 24px 160px 0;
    }

    .services {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        margin-top: 32px;
        text-align: left;

        .service {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            img {
                width: 60px;
                height: 60px;
                object-fit: contain;
            }

            h4 {
                font-size: 1.125rem;
            }

            h5 {
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}

.portfolio {
    background: linear-gradient(
        to bottom,
        var(--accent-bg-color) 0%,
        var(--accent-bg-color) 280px,
        var(--main-bg-color) 280px,
        var(--main-bg-color) 100%
    );
    color: #000;
    padding: 64px 0;
    position: relative;
    text-align: center;

    h2 {
        font-size: 2.25rem;
    }

    p {
        margin: 24px 160px 0;
    }

    .grid-container {
        display: grid;
        gap: 56px;
        grid-template-columns: repeat(auto-fit, 274px);
        justify-content: space-between;
        margin-top: 40px;
        text-align: left;

        .grid {
            position: relative;

            > img {
                cursor: pointer;
                display: block;
                width: 274px;
                height: 153px;
                object-fit: contain;
                transition: all 0.2s ease-in-out;
            }

            > img:hover {
                transform: scale(1.05);
            }

            h4 {
                font-size: 1.25rem;
                margin-top: 32px;
            }

            h5 {
                font-size: 0.875rem;
                font-weight: 400;
                margin-top: 16px;
            }

            .buttons {
                position: absolute;
                bottom: 0;
                right: 0;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }

                img:hover {
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
}

footer {
    background-color: var(--black-color);
    color: #fff;
    padding: 64px 0;
    text-align: center;

    .logo {
        display: inline-flex;
        color: #fff;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.75rem;
        font-weight: 700;
    }

    .social {
        margin-top: 36px;

        div {
            display: inline-flex;
            flex-direction: column;
            gap: 4px;
            justify-content: space-between;
            margin-top: 16px;
        }

        a {
            color: #fff;
            display: inline-flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
            padding: 4px 8px;

            :first-child {
                filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(106%) contrast(101%);
                width: 24px;
                height: 24px;
            }
        }

        a:hover {
            background-color: var(--main-bg-color);
            color: var(--black-color);

            :first-child {
                filter: invert(0%) sepia(14%) saturate(7470%) hue-rotate(62deg) brightness(106%) contrast(95%);
            }
        }
    }
}

.up {
    background-color: #fff;
    border-radius: 24px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 4px 4px 0;

    img {
        height: 64px;
        width: 64px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 16vh;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

    .modal-content {
        margin: auto;
        display: block;
        max-width: 80vw;
        max-height: 50vh;
        object-fit: contain;
    }

    #caption {
        display: inline-block;
        max-width: 72vw;
        color: #ccc;
        padding: 10px 0;
    }

    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    .close {
        position: absolute;
        top: 4vh;
        right: min(8vw, 4vh);
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 1200px) {
        .modal-content {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 740px;
    }

    header {
        .content {
            gap: 10px;

            .section {
                margin: 40px 0;

                .heading {
                    h2 {
                        font-size: 1rem;
                    }

                    h1 {
                        font-size: 2rem;
                    }
                }

                .ctas {
                    margin-top: 28px;

                    .button {
                        width: 120px;
                    }
                    .button.secondary {
                        margin-left: 12px;
                    }
                }
            }

            .image {
                max-width: 40%;
                max-height: 360px;
            }
        }
    }

    .about {
        p {
            margin: 24px 80px 0;
        }
    }

    .x-services {
        p {
            margin: 24px 80px 0;
        }
    }

    .portfolio {
        p {
            margin: 24px 80px 0;
        }

        .grid-container {
            gap: 8px;
            grid-template-columns: repeat(auto-fit, 224px);
            margin-top: 40px;

            .grid {
                > img {
                    width: 224px;
                    height: 126px;
                }

                h4 {
                    margin-top: 16px;
                }

                h5 {
                    margin-top: 12px;
                }

                .buttons {
                    position: static;
                    margin-top: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }

                    img:hover {
                        background-color: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    header {
        nav {
            padding: 32px 0;

            .logo {
                font-size: 1.5rem;
            }

            .links {
                font-size: 1rem;
                gap: 8px;

                a {
                    padding: 2px 4px;
                }
            }

            .button {
                padding: 8px 12px;
            }
        }

        .content {
            .section {
                margin: 20px 0;

                .heading {
                    h2 {
                        font-size: 0.875rem;
                    }

                    h1 {
                        font-size: 1.75rem;
                    }
                }

                .ctas {
                    .button {
                        font-size: 0.875rem;
                        padding: 8px 0;
                        width: 112px;
                    }
                    .button.secondary {
                        margin-left: 8px;
                    }
                }
            }

            .image {
                max-width: 40%;
            }
        }
    }

    .about {
        p {
            margin: 24px 0 0;
        }

        .numbers {
            margin-top: 24px;

            .number {
                h3 {
                    font-size: 2.875rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }
    }

    .x-services {
        p {
            margin: 24px 0 0;
        }

        .services {
            flex-direction: column;
            gap: 24px;
            margin-top: 24px;

            .service {
                gap: 12px;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                }

                img {
                    height: 32px;
                }

                h5 {
                    margin-top: 0px;
                }
            }
        }
    }

    .portfolio {
        p {
            margin: 24px 0 0;
        }

        .grid-container {
            gap: 24px;
            grid-template-columns: repeat(auto-fit, 258px);
            justify-content: center;
            margin-top: 40px;

            .grid {
                > img {
                    width: 256px;
                    height: 144px;
                }

                h4 {
                    margin-top: 16px;
                }

                h5 {
                    margin-top: 12px;
                }

                .buttons {
                    position: static;
                    margin-top: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }

                    img:hover {
                        background-color: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .up {
        border-radius: 16px;
        bottom: 24px;
        right: 24px;
        padding: 4px 4px 0;

        img {
            height: 48px;
            width: 48px;
        }
    }

    .modal {
        #caption {
            font-size: 0.75rem;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    header {
        nav {
            flex-direction: column;
            gap: 12px;

            .button {
                display: none;
            }
        }

        .content {
            .section {
                margin: 0 0 36px;
                width: 100%;
            }

            .image {
                display: none;
            }
        }

        .circle {
            display: none;
        }
    }

    .about {
        padding: 36px 0;

        .numbers {
            justify-content: space-around;

            .number {
                width: 30%;
            }
        }

        .circle {
            display: none;
        }
    }
}
